html,
body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-title {
  font-family: "Public Sans", sans-serif;
}

.MuiTypography-root {
  font-family: "Public Sans", sans-serif;
}

.chq-atc--button {
  padding: 10px !important;
}
.css-1ysgw9p-MuiButtonBase-root-MuiButton-root {
  font-family: "Public Sans", sans-serif !important;
  font-weight: 400;
}
